@page "/consultaPaquete"

<PageTitle>Consulta paquete</PageTitle>

@inject PaqueteBLL paqueteBLL

<EditForm Model="lista">
    <div class="card">
        <div class="card-header">
            <h1>Consulta de paquetes</h1>
        </div>

        <div class="card-body">
            <div class="row">
                    <div class="col-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio"/>
                    </div>
                <div class="col-2">
                    <label class="form-label">Filtro</label>
                    <select class="form-control" @bind="Filtro">
                        <option value="1">PaqueteId</option>
                        <option value="2">Descripcion</option>
                        <option value="3">Fecha</option>
                        <option value="4">Todos</option>
                    </select>
                </div>
                <div class="col-3 d-flex align-items-end">
                        <button class="btn btn-group-sm" type="button" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass" /> Buscar
                    </button>
                </div>

            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>PaqueteId</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.PaqueteId</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Fecha</td>
                        <td><a href="paquete/@item.PaqueteId">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {

    public string Filtro { get; set; } = "";
    public string Criterio { get; set; } = "";
    public List<Paquete> lista { get; set; } = new List<Paquete>();

    protected override void OnInitialized()
    {
        Buscar();
    }

    public void Buscar()
    {
        switch (Filtro)
        {
            case "1":
                lista = paqueteBLL.GetList(o => o.PaqueteId.ToString() == Criterio.ToLower());break;
            case "2":
                lista = paqueteBLL.GetList(o => o.Descripcion!.ToLower() == Criterio.ToLower());break;
            case "3":
                lista = paqueteBLL.GetList(o => o.Fecha.ToString().Contains(Criterio));break;
            default:
                lista = paqueteBLL.GetList(o => true); break;
        }
    }
}