@page "/consulta"

<PageTitle>Consulta</PageTitle>

@inject PaqueteBLL paqueteBLL

<EditForm Model="lista">
    <div class="card">
        <div class="card-header">
            <h1>Consulta</h1>
        </div>
    
    <div class="card-body">
        <div  class="row">
            <div class="col-3">
                <label class="form-label">Criterio</label>
                <input type="text" class="form-control" @bind="Criterio">
        </div>

        <div class="col-2">
        <label class="form-label">Filtro</label>
            <select class="form-control" @bind="Filtro">
                <option value="1">PaqueteId</option>
                <option value="2">NombreCompleto</option>
            </select>
        </div>

        <div class="col-3 d-flex align-items-end">
            <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">
            <i class="oi oi-magnifying-glass"/>Buscar</button>
        </div>

    </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>PaqueteId</th>
                <th>NombreCliente</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
                <tr>
                    <td>@item.PaqueteId</td>
                    <td>@item.NombreCliente</td>
                    <td>@item.Fecha</td>
                </tr>
            }
        </tbody>
    </table>    
</div>
</EditForm>

@code{
    
    public string Filtro {get;set;} = "";
    public string Criterio {get;set;} = "";

    public List<Paquete> lista {get;set;} = new List<Paquete>();

        protected override void OnInitialized()
        {
            Buscar();
        }

        public void Buscar()
        {
            if (Filtro == "1")
            {
                lista = paqueteBLL.GetList(o => o.PaqueteId.ToString().Contains(Criterio));
            }
            else if ((Filtro == "2")){
                lista = paqueteBLL.GetList(o => (o.NombreCliente ?? "").Contains(Criterio));
            }
        }  
}